<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DansPrototype.Properties.Settings.dans_testConnectionString"
            connectionString="server=localhost;user id=root;persistsecurityinfo=True;database=dans_test"
            providerName="MySql.Data.MySqlClient" />
        <add name="DansPrototype.Properties.Settings.dans_testConnectionString1"
            connectionString="server=localhost;user id=root;password=Inception2194;database=dans_test;persistsecurityinfo=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>